#{extends 'main.html'/}
#{set title:'Настройка' /}


<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Сущность</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="@{Authors.index()}">Author</a></td>
            <td><a class="offset10 btn btn-success" href=@{Authors.create()}>+</a></td>
        </tr>

        <tr>
            <td><a href="@{Headers.index()}">Header</a></td>
            <td><a class="offset10 btn btn-success" href=@{Headers.create()}>+</a></td>
        </tr>

        <tr>
            <td><a href="@{Phrases.index()}">Phrase</a></td>
            <td><a class="offset10 btn btn-success" href=@{Phrases.create()}>+</a></td>
        </tr>

        <tr>
            <td><a href="@{PlaceHolders.index()}">PlaceHolder</a></td>
            <td><a class="offset10 btn btn-success" href=@{PlaceHolders.create()}>+</a></td>
        </tr>

        <tr>
            <td><a href="@{Projects.index()}">Project</a></td>
            <td><a class="offset10 btn btn-success" href=@{Projects.create()}>+</a></td>
        </tr>

        <tr>
            <td><a href="@{ReviewTemplates.index()}">ReviewTemplate</a></td>
            <td><a class="offset10 btn btn-success" href=@{ReviewTemplates.create()}>+</a></td>
        </tr>
        </tbody>
    </table>
</div>