 <div class="row">
  <div class="label">Place Holder</div>
  <div class="field">
        <select name="entity.placeHolder.id" required>
                      <option value="">(None)</option>
        %{ models.PlaceHolder.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.placeHolder?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.placeHolder')}</span>
</div>
 <div class="row">
  <div class="label">Variant</div>
  <div class="field">
      <input type="text" name="entity.variant" value="${entity?.variant}" required/>
  </div>
  <span class="error">${errors.forKey('entity.variant')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

