#{extends 'scaffoldmain.html' /}
<h2>Projects</h2>
<table class="table entity Project">
	<thead>
		<tr>
			<th><!-- actions --></th>
				<th>Name</th>
				<th>Templates</th>
				<th>Id</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Projects.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Projects.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
					<td>${entity.name}</td>
					<td>${entity.templates}</td>
					<td>${entity.id}</td>
		</tr>
	#{/list}
	</tbody>
</table>
<a href="@{Projects.create}">Create</a>

