#{extends 'main.html' /}
#{set title:'Генератор отзывов' /}

<script src="@{'/public/javascripts/Application.js'}" type="text/javascript" charset="${_response_encoding}"></script>


<div class="offset1">
<div class="row">
<div class="span10 hero-unit">
<div class="row">
<div class="span6">
    <p class="lead">
        Настройка:
    </p>
#{form @Application.index()}
    <div class="row">
        <div class="span3">
            <label for="project_name" class="">Название проекта</label>
        </div>
        <div class="span2">
            <select name="project" id="project_name">
                #{list items:projects, as: 'project'}
                    #{if activeProject == project}
                        <option value=${project.id} selected=
                        "selected">${project.name}</option>
                    #{/if}
                    #{else }
                        <option value=${project.id}>${project.name}</option>
                    #{/else}
                #{/list}
            </select>
        *{<a class="btn btn-success" href="#">+</a>}*

        </div>

    </div>
    <div class="row">
        <div class="span3">
            <label for="count">Количество отзывов</label>
        </div>
        <div class="span2">
            <input type="text" id="count" name="count">
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success">Сгенерировать отчет</button>
        <a class="btn btn-success" href="/admin" target="_blank">Админка</a>
        <a class="btn btn-success" href="/info" target="_blank">Подсказка</a>
    </div>
</div>
    <div class="container">
        <div class="span4">
            <p>Включенные шаблоны</p>
            <ul id="project_enabledTemplates">
                #{list items:activeProject?.templates, as: 'template'}
                    <li>${template.template}</li>
                #{/list}
            </ul>
            <div class="span1 offset3">
                <a class="btn btn-success" href="#">+</a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
#{/form}
    <p class="lead">
        Отчет:
    </p>
#{if !reviews.isEmpty()}
    <div class="row">
        <div class="span8">
            <table border="1" class="table">
                <thead style="font-weight: bold;">
                <td>Автор</td>
                <td>Заголовок</td>
                <td>Текст</td>
                </thead>
                #{list items:reviews, as:'review'}
                    <tr>
                        <td>${review.name}</td>
                        <td>${review.header}</td>
                        <td>${review.comment}</td>
                    </tr>
                #{/list}
            </table>
        </div>
    </div>
#{/if}
</div>