<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
 <ol>
    <li>Создаем <a href="/reviewtemplates/list">шаблон</a></li>
     <li>Открывем <a href="/">главную генератора</a> , чтобы все плейсхолдеры обновлись или вручную заходим <a href="/placeholders/list">сюда</a> и увеждаемся,
         что нужные плейсхолдеры тут и добавляем, если надо <a href="/placeholders/list">плейсхолдеры</a></li>
     <li>Набиваем базу фраз под плейсхолдеры <a href="/phrases/list">тут</a></li>
 </ol>
 <p>
После этого открываем <a href="/">главную генератора</a> и получаем 10 самых крутых отзывов.
 Так же можно сгенерировать <a href="/authors/list">Имя автора</a> и <a href="/headers/list">Заголовок ответа</a>
</p>
<p>
    кроме того, можно овверайтить название игры через параметр <a href="/?name=gameName">name=GameName</a> в урле
    и количество отзывов, например <a href="/?count=100">100</a>
</p>
</body>
</html>