
#{extends 'main.html' /}
#{set title:'Подсказка' /}
<div class="container hero-unit">
 <ol>
    <li>Создаем <a href="/reviewtemplates/list" target="_blank">шаблон</a></li>
     <li>Открывем <a href="/" target="_blank">главную генератора</a> , чтобы все плейсхолдеры обновлись или вручную заходим <a href="/placeholders/list" target="_blank">сюда</a> и увеждаемся,
         что нужные плейсхолдеры тут и добавляем, если надо <a href="/placeholders/list" target="_blank">плейсхолдеры</a></li>
     <li>Набиваем базу фраз под плейсхолдеры <a href="/phrases/list" target="_blank">тут</a></li>
 </ol>
 <p>
После этого открываем <a href="/" target="_blank">главную генератора</a> и получаем 10 самых крутых отзывов.
 Так же можно сгенерировать <a href="/authors/list" target="_blank">Имя автора</a> и <a href="/headers/list" target="_blank">Заголовок ответа</a>
</p>
<p>
    кроме того, можно овверайтить название игры через параметр <a href="/?name=gameName" target="_blank">name=GameName</a> в урле
    и количество отзывов, например <a href="/?count=100" target="_blank">100</a>
</p>

</div>